.wrapper {
  flex: 1 1 200px;
  max-width: 300px;
}
.imageBox {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    height: 100%;
    max-width: 150px;
    object-fit: contain;
}

.name{
    color: #3B4157;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}