.list{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    margin-right: 160px;
}

.topSection {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.smartphoneText {
    color: #828286;
    font-size: 48px;
    font-weight: 700;
}

.productNumbers{
    color: #0D5ADC;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
}

.textWrapper {
    letter-spacing: 2%;
}

.displayedPhones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.displayedPhonesNumbers{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.tableWrapper {
    background-color: #F3F9FC;
    width: 100%;
    height: 100vh;
    margin-top: 77px;
}

.table{
    display: grid;
    grid-template-columns: 10;
}