.list{
    display: flex;
    flex-direction: column;
    margin-left: 165px;
    margin-right: 165px;
}

.topSection {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.smartphoneText {
    color: #828286;
    font-size: 48px;
    font-weight: 700;
}

.productNumbers{
    color: #0D5ADC;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
}

.textWrapper {
    letter-spacing: 2%;
}

.displayedPhones {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    justify-content: space-around;
}
.outerWrapper {
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.displayedPhonesNumbers{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.showDiffsWrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 40px;
    white-space: nowrap;
}

.centeredBlock {
    display: flex;
    justify-content: center;
    width: 100%;
}
.showDiffsItems{
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkboxDifs {
    width: 24px;
    height: 24px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    border: 2px solid #C1C1C2;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.checkboxDifs:checked {
    background-color: #0D5ADC;
    border-color: #0D5ADC;
}

.checkboxDifs:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
