.list{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    margin-right: 160px;
}

.topSection {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.smartphoneText {
    color: #828286;
    font-size: 48px;
    font-weight: 700;
}

.productNumbers{
    color: #0D5ADC;
    font-size: 18px;
    font-weight: 400;
}

.textWrapper {
    line-height: 60px;
    letter-spacing: 2%;
}

.displayedPhones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}